.dv{ background-color:Lightgrey;
    margin: 0px 300px 300px 300px;}
    .abc{margin-left: 60px;}
input[type=email]{width:50%;
      margin-left: 60px;
    }
body{background-color:#5DADE2 }
.ab{text-align: center;
    text-shadow: 5px;
  padding: 2px;
margin: auto;}

.ab #error_message
{
	margin-bottom: 20px;
	padding: 0px;
	background: red ;
	text-align: center;
	font-size: 14px ;

}
